<header>
    <h1>La Casa del Meme</h1>
    <div class="container-cart">
        <div class="container-cart-icon">
            <i class="bi bi-bag-fill icon-cart"></i>
            <div class="count-product">
                <span id="contador-productos">0</span>
            </div>
        </div>
        <div class="container-cart-products">
            <div class="row-product">
                <div class="cart-product">
                </div>
            </div>
            <div class="total-product">
                <h3 class="text-total">Total: </h3>
                <p class="total-pagar">$0</p>
                <p class="no-products-text">No hay productos en el carrito</p>
            </div>
        </div>
    </div>
</header>
<div class="container-items">
    {{#each productList}}
        <div class="item">
            <figure>
                <img src={{thumbnails}} alt={{title}}>
            </figure>
            <div class="info-product">
                <h2>{{title}}</h2>
                <p>${{price}}</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    {{/each}}
    </div>